<a href="https://colab.research.google.com/github/risal2002ankrit/Exploratory-Data-Analysis/blob/main/EDA_impactOfChatbot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **1- Data Collection**

**1.1 Importing File Format**

In [ ]:
import pandas as pd

df_coded = pd.read_csv('/content/drive/MyDrive/Dataset/Impact of Conversational Chatbots on Learning of University Students/AI_Chatbots_Students_Attitude_Dataset_Coded_EN.csv',
                       low_memory=False, encoding='latin-1', on_bad_lines='skip', delimiter=';')

df_en = pd.read_csv('/content/drive/MyDrive/Dataset/Impact of Conversational Chatbots on Learning of University Students/AI_Chatbots_Students_Attitude_Dataset_EN.csv',
                    low_memory=False, encoding='latin-1', on_bad_lines='skip', delimiter=';')

**1.2 Checking the Datatypes**

In [ ]:
data_types_coded = df_coded.dtypes
print(f'Data Types in df_coded: {data_types_coded}')

data_types_en = df_en.dtypes
print(f'Data Types in df_en: {data_types_en}')

Data Types in df_coded: Timestamp    object
Q1            int64
Q2           object
Q3            int64
Q4            int64
Q5.1          int64
Q5.2          int64
Q5.3          int64
Q5.4          int64
Q5.5          int64
Q5.6          int64
Q6.1          int64
Q6.2          int64
Q6.3          int64
Q6.4          int64
Q6.5          int64
Q6.6          int64
Q6.7          int64
Q6.8          int64
Q7.1          int64
Q7.2          int64
Q7.3          int64
Q7.4          int64
Q8.1          int64
Q8.2          int64
Q8.3          int64
Q8.4          int64
Q8.5          int64
Q9.1          int64
Q9.2          int64
Q9.3          int64
Q9.4          int64
Q9.5          int64
Q10          object
dtype: object
Data Types in df_en: Timestamp    object
Q1           object
Q2           object
Q3           object
Q4           object
Q5.1         object
Q5.2         object
Q5.3         object
Q5.4         object
Q5.5         object
Q5.6         object
Q6.1         object
Q6.2         object
Q6.3         object
Q6.4         object
Q6.5         object
Q6.6         object
Q6.7         object
Q6.8         object
Q7.1         object
Q7.2         object
Q7.3         object
Q7.4         object
Q8.1         object
Q8.2         object
Q8.3         object
Q8.4         object
Q8.5         object
Q9.1         object
Q9.2         object
Q9.3         object
Q9.4         object
Q9.5         object
Q10          object
dtype: object

**1.3 checking duplicates**

In [ ]:
duplicates_coded = df_coded.duplicated().sum()
duplicates_en = df_en.duplicated().sum

print(f'Number of duplicates in df_coded: {duplicates_coded}')

Number of duplicates in df_coded: 0

In [ ]:
print(f'Number of duplicates in df_en: {duplicates_en}')

Number of duplicates in df_en: <bound method Series.sum of 0      False
1      False
2      False
3      False
4      False
       ...
126    False
127    False
128    False
129    False
130    False
Length: 131, dtype: bool>

# **2. Data Exploration**

**2.1 - Structure understanding**

In [ ]:
df_coded.columns

Index(['Timestamp', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5.1', 'Q5.2', 'Q5.3', 'Q5.4',
       'Q5.5', 'Q5.6', 'Q6.1', 'Q6.2', 'Q6.3', 'Q6.4', 'Q6.5', 'Q6.6', 'Q6.7',
       'Q6.8', 'Q7.1', 'Q7.2', 'Q7.3', 'Q7.4', 'Q8.1', 'Q8.2', 'Q8.3', 'Q8.4',
       'Q8.5', 'Q9.1', 'Q9.2', 'Q9.3', 'Q9.4', 'Q9.5', 'Q10'],
      dtype='object')

In [ ]:
df_coded.head(5)

,Timestamp,Q1,Q2,Q3,Q4,Q5.1,Q5.2,Q5.3,Q5.4,Q5.5,...,Q8.2,Q8.3,Q8.4,Q8.5,Q9.1,Q9.2,Q9.3,Q9.4,Q9.5,Q10
0,5.14.2023 21:22:19,2,International Economic Relations,1,4,4,4,5,5,4,...,5,5,4,5,4,5,5,4,4,NaN
1,5.15.2023 8:45:52,1,International Economic Relations,1,3,2,4,2,1,3,...,4,4,2,3,3,4,3,2,2,NaN
2,5.15.2023 9:54:15,1,International Economic Relations,1,2,3,3,3,2,3,...,4,4,3,3,3,3,2,2,3,NaN
3,5.15.2023 15:17:41,1,International Economic Relations,1,2,4,4,4,2,4,...,4,4,4,4,4,4,3,4,4,NaN
4,5.15.2023 15:19:02,1,International Economic Relations,1,3,4,4,3,2,4,...,4,4,3,3,3,3,3,3,3,NaN

In [ ]:
df_en.columns

Index(['Timestamp', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5.1', 'Q5.2', 'Q5.3', 'Q5.4',
       'Q5.5', 'Q5.6', 'Q6.1', 'Q6.2', 'Q6.3', 'Q6.4', 'Q6.5', 'Q6.6', 'Q6.7',
       'Q6.8', 'Q7.1', 'Q7.2', 'Q7.3', 'Q7.4', 'Q8.1', 'Q8.2', 'Q8.3', 'Q8.4',
       'Q8.5', 'Q9.1', 'Q9.2', 'Q9.3', 'Q9.4', 'Q9.5', 'Q10'],
      dtype='object')

In [ ]:
df_en.head(5)

,Timestamp,Q1,Q2,Q3,Q4,Q5.1,Q5.2,Q5.3,Q5.4,Q5.5,...,Q8.2,Q8.3,Q8.4,Q8.5,Q9.1,Q9.2,Q9.3,Q9.4,Q9.5,Q10
0,5.14.2023 21:22:19,Master,International Economic Relations,Female,Îften,Agree,Agree,Strongly Agree,Strongly Agree,Agree,...,Strongly Agree,Strongly Agree,Agree,Strongly Agree,Agree,Strongly Agree,Strongly Agree,Agree,Agree,NaN
1,5.15.2023 8:45:52,Bachelor,International Economic Relations,Female,Sometimes,Disagree,Agree,Disagree,Strongly Disagree,Neutral,...,Agree,Agree,Disagree,Neutral,Neutral,Agree,Neutral,Disagree,Disagree,NaN
2,5.15.2023 9:54:15,Bachelor,International Economic Relations,Female,Rarely,Neutral,Neutral,Neutral,Disagree,Neutral,...,Agree,Agree,Neutral,Neutral,Neutral,Neutral,Disagree,Disagree,Neutral,NaN
3,5.15.2023 15:17:41,Bachelor,International Economic Relations,Female,Rarely,Agree,Agree,Agree,Disagree,Agree,...,Agree,Agree,Agree,Agree,Agree,Agree,Neutral,Agree,Agree,NaN
4,5.15.2023 15:19:02,Bachelor,International Economic Relations,Female,Sometimes,Agree,Agree,Neutral,Disagree,Agree,...,Agree,Agree,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,NaN

In [ ]:
df_coded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  131 non-null    object
 1   Q1         131 non-null    int64
 2   Q2         131 non-null    object
 3   Q3         131 non-null    int64
 4   Q4         131 non-null    int64
 5   Q5.1       131 non-null    int64
 6   Q5.2       131 non-null    int64
 7   Q5.3       131 non-null    int64
 8   Q5.4       131 non-null    int64
 9   Q5.5       131 non-null    int64
 10  Q5.6       131 non-null    int64
 11  Q6.1       131 non-null    int64
 12  Q6.2       131 non-null    int64
 13  Q6.3       131 non-null    int64
 14  Q6.4       131 non-null    int64
 15  Q6.5       131 non-null    int64
 16  Q6.6       131 non-null    int64
 17  Q6.7       131 non-null    int64
 18  Q6.8       131 non-null    int64
 19  Q7.1       131 non-null    int64
 20  Q7.2       131 non-null    int64
 21  Q7.3       131 non-null    int64
 22  Q7.4       131 non-null    int64
 23  Q8.1       131 non-null    int64
 24  Q8.2       131 non-null    int64
 25  Q8.3       131 non-null    int64
 26  Q8.4       131 non-null    int64
 27  Q8.5       131 non-null    int64
 28  Q9.1       131 non-null    int64
 29  Q9.2       131 non-null    int64
 30  Q9.3       131 non-null    int64
 31  Q9.4       131 non-null    int64
 32  Q9.5       131 non-null    int64
 33  Q10        63 non-null     object
dtypes: int64(31), object(3)
memory usage: 34.9+ KB

In [ ]:
df_en.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  131 non-null    object
 1   Q1         131 non-null    object
 2   Q2         131 non-null    object
 3   Q3         131 non-null    object
 4   Q4         131 non-null    object
 5   Q5.1       131 non-null    object
 6   Q5.2       131 non-null    object
 7   Q5.3       131 non-null    object
 8   Q5.4       131 non-null    object
 9   Q5.5       131 non-null    object
 10  Q5.6       131 non-null    object
 11  Q6.1       131 non-null    object
 12  Q6.2       131 non-null    object
 13  Q6.3       131 non-null    object
 14  Q6.4       131 non-null    object
 15  Q6.5       131 non-null    object
 16  Q6.6       131 non-null    object
 17  Q6.7       131 non-null    object
 18  Q6.8       131 non-null    object
 19  Q7.1       131 non-null    object
 20  Q7.2       131 non-null    object
 21  Q7.3       131 non-null    object
 22  Q7.4       131 non-null    object
 23  Q8.1       131 non-null    object
 24  Q8.2       131 non-null    object
 25  Q8.3       131 non-null    object
 26  Q8.4       131 non-null    object
 27  Q8.5       131 non-null    object
 28  Q9.1       131 non-null    object
 29  Q9.2       131 non-null    object
 30  Q9.3       131 non-null    object
 31  Q9.4       131 non-null    object
 32  Q9.5       131 non-null    object
 33  Q10        63 non-null     object
dtypes: object(34)
memory usage: 34.9+ KB

**2.2 Summary Statistics**

In [ ]:
df_coded.describe() # for numerical data-type, describe means statistics parameters like below :

,Q1,Q3,Q4,Q5.1,Q5.2,Q5.3,Q5.4,Q5.5,Q5.6,Q6.1,...,Q8.1,Q8.2,Q8.3,Q8.4,Q8.5,Q9.1,Q9.2,Q9.3,Q9.4,Q9.5
count,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,...,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000
mean,1.022901,1.167939,2.801527,3.251908,3.404580,3.320611,2.465649,3.175573,3.366412,4.061069,...,3.877863,3.931298,3.931298,3.274809,3.389313,3.412214,3.488550,3.221374,3.259542,3.061069
std,0.150161,0.375247,1.010863,0.947414,0.982764,0.962906,1.017521,0.940384,1.138191,0.751979,...,0.850546,0.805661,0.842988,0.969166,0.855503,0.821539,0.914553,0.693820,0.965464,0.982585
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,2.000000,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000,4.000000,...,4.000000,4.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,1.000000,1.000000,3.000000,3.000000,4.000000,4.000000,2.000000,3.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000,3.000000
75%,1.000000,1.000000,3.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,5.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,2.000000,2.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [ ]:
df_en.describe() # string and categorical datatype, for object-type columns describe means::

,Timestamp,Q1,Q2,Q3,Q4,Q5.1,Q5.2,Q5.3,Q5.4,Q5.5,...,Q8.2,Q8.3,Q8.4,Q8.5,Q9.1,Q9.2,Q9.3,Q9.4,Q9.5,Q10
count,131,131,131,131,131,131,131,131,131,131,...,131,131,131,131,131,131,131,131,131,63
unique,131,2,19,2,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,61
top,5.14.2023 21:22:19,Bachelor,Marketing,Female,Sometimes,Neutral,Agree,Agree,Disagree,Agree,...,Agree,Agree,Agree,Neutral,Agree,Agree,Neutral,Agree,Neutral,.
freq,1,128,28,109,53,48,60,57,45,52,...,80,78,48,58,59,65,80,56,56,3

In [ ]:
df_coded.columns

Index(['Timestamp', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5.1', 'Q5.2', 'Q5.3', 'Q5.4',
       'Q5.5', 'Q5.6', 'Q6.1', 'Q6.2', 'Q6.3', 'Q6.4', 'Q6.5', 'Q6.6', 'Q6.7',
       'Q6.8', 'Q7.1', 'Q7.2', 'Q7.3', 'Q7.4', 'Q8.1', 'Q8.2', 'Q8.3', 'Q8.4',
       'Q8.5', 'Q9.1', 'Q9.2', 'Q9.3', 'Q9.4', 'Q9.5', 'Q10'],
      dtype='object')

In [ ]:
df_coded.shape

(131, 34)

In [ ]:
df_en.columns

Index(['Timestamp', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5.1', 'Q5.2', 'Q5.3', 'Q5.4',
       'Q5.5', 'Q5.6', 'Q6.1', 'Q6.2', 'Q6.3', 'Q6.4', 'Q6.5', 'Q6.6', 'Q6.7',
       'Q6.8', 'Q7.1', 'Q7.2', 'Q7.3', 'Q7.4', 'Q8.1', 'Q8.2', 'Q8.3', 'Q8.4',
       'Q8.5', 'Q9.1', 'Q9.2', 'Q9.3', 'Q9.4', 'Q9.5', 'Q10'],
      dtype='object')

In [ ]:
df_en.shape

(131, 34)

**2.3 Missing values**

2.3.1 identify Missing Value

In [ ]:
missing_values_coded = df_coded.isnull().sum() # total count of the missing values
print(missing_values_coded)

Timestamp     0
Q1            0
Q2            0
Q3            0
Q4            0
Q5.1          0
Q5.2          0
Q5.3          0
Q5.4          0
Q5.5          0
Q5.6          0
Q6.1          0
Q6.2          0
Q6.3          0
Q6.4          0
Q6.5          0
Q6.6          0
Q6.7          0
Q6.8          0
Q7.1          0
Q7.2          0
Q7.3          0
Q7.4          0
Q8.1          0
Q8.2          0
Q8.3          0
Q8.4          0
Q8.5          0
Q9.1          0
Q9.2          0
Q9.3          0
Q9.4          0
Q9.5          0
Q10          68
dtype: int64

In [ ]:
missing_values_en = df_en.isnull().sum()
print(missing_values_en)

Timestamp     0
Q1            0
Q2            0
Q3            0
Q4            0
Q5.1          0
Q5.2          0
Q5.3          0
Q5.4          0
Q5.5          0
Q5.6          0
Q6.1          0
Q6.2          0
Q6.3          0
Q6.4          0
Q6.5          0
Q6.6          0
Q6.7          0
Q6.8          0
Q7.1          0
Q7.2          0
Q7.3          0
Q7.4          0
Q8.1          0
Q8.2          0
Q8.3          0
Q8.4          0
Q8.5          0
Q9.1          0
Q9.2          0
Q9.3          0
Q9.4          0
Q9.5          0
Q10          68
dtype: int64

2.3.2 Drop if any missing value present

In [ ]:
# drop row
df_coded_cleaned = df_coded.dropna()
df_en_cleaned = df_en.dropna()

In [ ]:
# drop column
df_coded_cleaned_column = df_coded.dropna(axis=1)
df_en_cleaned_column = df_en.dropna(axis=1)

# **3- Data Cleaning**


Detect and treat outliers.
Ensure correct data types.
Encode categorical variables.
Fix inconsistencies and errors.
Feature scaling (if needed).
Perform feature engineering (optional).
Handle multicollinearity (if needed).
Final check for data readiness.

**3.1 Identify Outliers using Z-Scores**

In [ ]:
from scipy import stats

# Claculate Z-Score of each Value in dataframe
z_scores_coded = stats.zscore(df_coded.select_dtypes(include=['float64', 'int64']))
print(z_scores_coded)

           Q1        Q3        Q4      Q5.1      Q5.2      Q5.3      Q5.4  \
5   -0.181071  1.870829 -0.982467  1.880285  0.688649  0.663403 -0.369800
6   -0.181071  1.870829  0.103418 -0.162094  0.688649  0.663403  0.600925
7    5.522681  1.870829 -0.982467 -1.183283  0.688649  0.663403  0.600925
8   -0.181071  1.870829  0.103418 -0.162094  0.688649  0.663403  0.600925
12  -0.181071 -0.534522 -0.982467  0.859096  0.688649  0.663403 -0.369800
..        ...       ...       ...       ...       ...       ...       ...
115 -0.181071  1.870829  0.103418 -1.183283  0.688649  0.663403 -1.340525
117 -0.181071 -0.534522 -0.982467 -0.162094  0.688649  0.663403  1.571651
121 -0.181071 -0.534522  1.189302 -2.204472 -2.080600 -1.479900 -1.340525
126 -0.181071 -0.534522  1.189302  0.859096 -0.234434  0.663403  1.571651
130 -0.181071 -0.534522 -0.982467 -0.162094 -0.234434 -0.408248  0.600925

         Q5.5      Q5.6      Q6.1  ...      Q8.1      Q8.2      Q8.3  \
5    0.833266  1.318945 -0.276735  ...  1.279672  0.086752 -1.089725
6   -0.238076  1.318945 -0.276735  ...  0.190221  0.086752  0.114708
7   -1.309418 -2.038370  1.308202  ... -0.899229  0.086752  0.114708
8   -0.238076  1.318945  1.308202  ... -0.899229  0.086752  0.114708
12  -0.238076 -0.359712 -0.276735  ...  0.190221  0.086752  0.114708
..        ...       ...       ...  ...       ...       ...       ...
115 -0.238076 -1.199041 -0.276735  ...  0.190221  0.086752  0.114708
117 -0.238076 -0.359712 -0.276735  ...  0.190221  0.086752  0.114708
121 -2.380760 -2.038370  1.308202  ...  1.279672  1.453092  1.319140
126  0.833266  0.479616 -0.276735  ...  0.190221  0.086752  0.114708
130 -0.238076 -0.359712 -1.861672  ... -0.899229 -1.279589 -1.089725

         Q8.4      Q8.5      Q9.1      Q9.2      Q9.3      Q9.4      Q9.5
5   -1.234019 -2.691946 -0.529289  0.598506 -0.390434 -2.266541 -1.020621
6   -0.183435 -0.234082  0.620545 -0.448879 -0.390434  0.771589  0.051031
7    0.867149 -0.234082  0.620545 -0.448879 -0.390434  0.771589  0.051031
8   -0.183435 -0.234082  0.620545 -0.448879 -0.390434 -0.241121 -1.020621
12  -0.183435 -0.234082  0.620545  0.598506 -0.390434 -0.241121  1.122683
..        ...       ...       ...       ...       ...       ...       ...
115  0.867149  0.994850  0.620545  0.598506  1.249390  0.771589  1.122683
117  0.867149 -0.234082  0.620545 -0.448879 -0.390434 -1.253831  0.051031
121  1.917732  2.223782 -2.828957 -2.543649 -3.670083 -2.266541 -2.092272
126 -1.234019 -0.234082 -0.529289  0.598506 -0.390434  0.771589  1.122683
130 -0.183435 -0.234082 -0.529289 -0.448879 -0.390434 -0.241121  0.051031

[63 rows x 31 columns]

In [ ]:
z_scores_en = stats.zscore(df_en.select_dtypes(include=['float64', 'int64']))
print(z_scores_coded)

           Q1        Q3        Q4      Q5.1      Q5.2      Q5.3      Q5.4  \
5   -0.181071  1.870829 -0.982467  1.880285  0.688649  0.663403 -0.369800
6   -0.181071  1.870829  0.103418 -0.162094  0.688649  0.663403  0.600925
7    5.522681  1.870829 -0.982467 -1.183283  0.688649  0.663403  0.600925
8   -0.181071  1.870829  0.103418 -0.162094  0.688649  0.663403  0.600925
12  -0.181071 -0.534522 -0.982467  0.859096  0.688649  0.663403 -0.369800
..        ...       ...       ...       ...       ...       ...       ...
115 -0.181071  1.870829  0.103418 -1.183283  0.688649  0.663403 -1.340525
117 -0.181071 -0.534522 -0.982467 -0.162094  0.688649  0.663403  1.571651
121 -0.181071 -0.534522  1.189302 -2.204472 -2.080600 -1.479900 -1.340525
126 -0.181071 -0.534522  1.189302  0.859096 -0.234434  0.663403  1.571651
130 -0.181071 -0.534522 -0.982467 -0.162094 -0.234434 -0.408248  0.600925

         Q5.5      Q5.6      Q6.1  ...      Q8.1      Q8.2      Q8.3  \
5    0.833266  1.318945 -0.276735  ...  1.279672  0.086752 -1.089725
6   -0.238076  1.318945 -0.276735  ...  0.190221  0.086752  0.114708
7   -1.309418 -2.038370  1.308202  ... -0.899229  0.086752  0.114708
8   -0.238076  1.318945  1.308202  ... -0.899229  0.086752  0.114708
12  -0.238076 -0.359712 -0.276735  ...  0.190221  0.086752  0.114708
..        ...       ...       ...  ...       ...       ...       ...
115 -0.238076 -1.199041 -0.276735  ...  0.190221  0.086752  0.114708
117 -0.238076 -0.359712 -0.276735  ...  0.190221  0.086752  0.114708
121 -2.380760 -2.038370  1.308202  ...  1.279672  1.453092  1.319140
126  0.833266  0.479616 -0.276735  ...  0.190221  0.086752  0.114708
130 -0.238076 -0.359712 -1.861672  ... -0.899229 -1.279589 -1.089725

         Q8.4      Q8.5      Q9.1      Q9.2      Q9.3      Q9.4      Q9.5
5   -1.234019 -2.691946 -0.529289  0.598506 -0.390434 -2.266541 -1.020621
6   -0.183435 -0.234082  0.620545 -0.448879 -0.390434  0.771589  0.051031
7    0.867149 -0.234082  0.620545 -0.448879 -0.390434  0.771589  0.051031
8   -0.183435 -0.234082  0.620545 -0.448879 -0.390434 -0.241121 -1.020621
12  -0.183435 -0.234082  0.620545  0.598506 -0.390434 -0.241121  1.122683
..        ...       ...       ...       ...       ...       ...       ...
115  0.867149  0.994850  0.620545  0.598506  1.249390  0.771589  1.122683
117  0.867149 -0.234082  0.620545 -0.448879 -0.390434 -1.253831  0.051031
121  1.917732  2.223782 -2.828957 -2.543649 -3.670083 -2.266541 -2.092272
126 -1.234019 -0.234082 -0.529289  0.598506 -0.390434  0.771589  1.122683
130 -0.183435 -0.234082 -0.529289 -0.448879 -0.390434 -0.241121  0.051031

[63 rows x 31 columns]

In [ ]:
# Identify Outliers
df_outliers_coded = (z_scores_coded > 3).any(axis = 1) | (z_scores_coded < -3).any(axis = 1)
no_of_outliers_coded = df_outliers_coded.sum()
print(f'Number of outliers in df_coded: {no_of_outliers_coded}')
print(df_outliers_coded)

Number of outliers in df_coded: 8
5      False
6      False
7       True
8      False
12     False
       ...
115    False
117    False
121     True
126    False
130    False
Length: 63, dtype: bool

In [ ]:
df_outliers_en = (z_scores_coded > 3).any(axis = 1) | (z_scores_coded < -3).any(axis = 1)
no_of_outliers_en = df_outliers_en.sum()
print(f'Number of outliers in df_en: {no_of_outliers_en}')
print(df_outliers_en)

Number of outliers in df_en: 8
5      False
6      False
7       True
8      False
12     False
       ...
115    False
117    False
121     True
126    False
130    False
Length: 63, dtype: bool

**3.2 Removing Outliers**

In [ ]:
# Removing Row with outliers
df_no_outlier_coded = df_coded[~df_outliers_coded]
df_no_outlier_en = df_en[~df_outliers_en]

In [ ]:
df_no_outlier_coded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55 entries, 5 to 130
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  55 non-null     object
 1   Q1         55 non-null     int64
 2   Q2         55 non-null     object
 3   Q3         55 non-null     int64
 4   Q4         55 non-null     int64
 5   Q5.1       55 non-null     int64
 6   Q5.2       55 non-null     int64
 7   Q5.3       55 non-null     int64
 8   Q5.4       55 non-null     int64
 9   Q5.5       55 non-null     int64
 10  Q5.6       55 non-null     int64
 11  Q6.1       55 non-null     int64
 12  Q6.2       55 non-null     int64
 13  Q6.3       55 non-null     int64
 14  Q6.4       55 non-null     int64
 15  Q6.5       55 non-null     int64
 16  Q6.6       55 non-null     int64
 17  Q6.7       55 non-null     int64
 18  Q6.8       55 non-null     int64
 19  Q7.1       55 non-null     int64
 20  Q7.2       55 non-null     int64
 21  Q7.3       55 non-null     int64
 22  Q7.4       55 non-null     int64
 23  Q8.1       55 non-null     int64
 24  Q8.2       55 non-null     int64
 25  Q8.3       55 non-null     int64
 26  Q8.4       55 non-null     int64
 27  Q8.5       55 non-null     int64
 28  Q9.1       55 non-null     int64
 29  Q9.2       55 non-null     int64
 30  Q9.3       55 non-null     int64
 31  Q9.4       55 non-null     int64
 32  Q9.5       55 non-null     int64
 33  Q10        55 non-null     object
dtypes: int64(31), object(3)
memory usage: 15.0+ KB

In [ ]:
print(f"Original number of rows: {df_coded.shape[0]}")
print(f"Number of rows after removing outliers: {df_no_outlier_coded.shape[0]}")

Original number of rows: 63
Number of rows after removing outliers: 55

In [ ]:
print(f"Original number of rows: {df_en.shape[0]}")
print(f"Number of rows after removing outliers: {df_no_outlier_en.shape[0]}")

Original number of rows: 63
Number of rows after removing outliers: 55